<!-- Gallery Section -->
<section class="py-16 md:py-24" id="gallery">
  <div class="max-w-7xl mx-auto px-6 sm:px-10">
    <div class="text-center max-w-2xl mx-auto mb-12">
      <h2
        class="text-text-light-secondary dark:text-text-dark-secondary text-sm font-bold uppercase tracking-wider"
      >
        Our Sanctuary
      </h2>
      <h3
        class="text-text-light-primary dark:text-white tracking-tight text-4xl font-extrabold leading-tight md:text-5xl mt-2"
      >
        Explore Aura Spa
      </h3>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="grid gap-4">
        <div
          class="w-full bg-center bg-no-repeat aspect-[4/5] bg-cover rounded-lg"
          data-alt="Spa relaxation lounge with comfortable seating."
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBJMhxK8UbIUk-Xh-eWE9N6cvSVfTHOYItr2cX5JOPoy8kKs_b0Pw_rU4p2Q_6fyZSgjgh0hskEDV8J0DiJ1pgSgBLxvV2e_Z6XG07vdV3o0aZrKU_iCIfKlVZ3ocHidmvCSYzxZeWjASZGCYJePtIOJqiAIibpcE4mYmX0SP_6IKmszj03SXNy7DvHxS3kQ8pdSaikzG2WGB_oSsf6iq1UqXhlGl_nfNNlHG9UU5avhpSoKDbXvRAucPv6QZ4FCzkM0EkD3Sq3Jt4');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat aspect-[4/3] bg-cover rounded-lg"
          data-alt="Close-up of neatly folded towels and spa products."
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuB7fAV_za-zL6ZQ2naj2mbl-VqDIT-8-wwOLKbDPyGK5wYqhz17vCzCYl7s93GD3QoXAhH5epkwCHLRsrKVDM6SSgUDBzr1r1QN0iKdtnS3bYFcr5K0mutkfgsVDainY-MUoMOjDWUHhhpEyNAQMI0uN5smQsnAhw3AKTHVY2k1R5CYlCGWjELzdNubgxduLpXIGhG1gpUOhntrH-9YdA0_9y-0DTdB41VKrScXR5KK-ZivyaIFYEyobQn8bkEBa_dJ2pZ1urV6eys');
          "
        ></div>
      </div>
      <div class="grid gap-4">
        <div
          class="w-full bg-center bg-no-repeat aspect-[4/3] bg-cover rounded-lg"
          data-alt="A tranquil spa treatment room with a massage bed."
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDtZMIAgFthhy46W7FkK58jSc5dH9HG39IyziE-IQgc5IetQ25hhTGszyDijQRfsRep6YYrPRKi_Wijk4Opynjen5RMnwPYX2-blthovCRHwr0a08Uq4iMAbfruqqcHgB-4cH5ExEejZN1E70Mwa8Lp7cD-aeKNUotFUDbGnvr0BcW-6z7NdV-HccEFi99d-Agn8Ev3PeKFQmLMb-qkG0thnUapJnzLOaufC0m9NMQHmCHuoiRQ3AY_QXOm6bVIBYhm0tETbDvjz1Y');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat aspect-[4/5] bg-cover rounded-lg"
          data-alt="Architectural detail of the spa interior with natural wood."
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCQPh0oA3n2bFBvqkwo8bmv75rsdTH-E7C4dQbqFoO_nAjcILH5B_e5ekAAKA9a3IWNuXu4V53U2newvG9ORH5r-uw8ViEB8XTwPg4GxQp5OTCh0gxNYZNYnh2NAtKSFkFn4zALpjlUlHFr8q-xuhJM0NSIHOyCymWcgnYMjezSvnYaU5XjHVQyxvR2DNPaDHNPoGqSRjEsXtK6stsDKDx2VjmKMnjowAhQevAv3iCtxiMW6x4JoDpzbs17GKgf1mTsbkinh0Dq-UU');
          "
        ></div>
      </div>
      <div class="grid gap-4">
        <div
          class="w-full bg-center bg-no-repeat aspect-[4/5] bg-cover rounded-lg"
          data-alt="Display of organic spa products on a shelf."
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBLSblwy9IMx9A1mo1TuknoTMmbn_ZogXmVNqgIUM27T5okN3vLEynnjeOQUS3J-w9JM6F4PQv7yXvMrjkYdz0rCPIYOzHCjvpr11QjE6G-nsasUC3OnV5csuycLhLePQ7tg2_hP1sk_sG2u56tqDka5E4nGKibvYiadbtjrfiqRV8YM3Xpf7tg3Ocq2q44u-cLHhgG33CX709VBzAf8rlvG7NJwHWEETsaiKS5Ah0L5Zl5AkTjtvfnp6dqAsHxKlbOJyJhRQ66uL4');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat aspect-[4/3] bg-cover rounded-lg"
          data-alt="A serene indoor pool area at the spa."
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDZ02d-Ypa5VaUO6WyfQflp79OzTBtHJvnAXZe6QXqi_9xg6rcsb2cyY5Psr-f9lzr085UA1pBX1BVpjw6eN8U1b_8eXDq0YZdTkEGMJRKfezkFWOeBPkz0jSrM1IRbAxX7-lBE9tTLRkKP0fHYT3YfcP4k3p3J8xzGUxsVFpUA7hH3l70G_poyjjOOQvIOAerDxkW6uXy61UcxXAf1GOZuwqCxn-Ts6rrtUNqRarmwp7ySpLEY0DkiqhzxgkGzQuB4quP25xxImW8');
          "
        ></div>
      </div>
      <div class="grid gap-4">
        <div
          class="w-full bg-center bg-no-repeat aspect-[4/3] bg-cover rounded-lg"
          data-alt="A collection of aromatic oils and candles."
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDPBSEz5KuNJ0JnWkTmtHr8IdIHl6O9G12N9ro2BkqivC00emtNizcBzrnaGi4hQ8eUjHPWCe5_qkhJqwG9oVGJn-vLKMQCzjQua-LxwzZnD-BdQ3iYz6dJrVlCKTGE-gzwiuvksmwVj4mPR_PurdQYJpLUYwL2rSEkOWD7ZpcWKqf0gxkz5zyBYsxlHr7uld19iBmNQEc16Pa7UWB0mL5zU2YzyDt3GkWif5C3vRnIFzNfaphSr_yGp_JS1JEpWOdq2ZB3uHSD9HQ');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat aspect-[4/5] bg-cover rounded-lg"
          data-alt="A guest enjoying a peaceful moment in a robe."
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuD1M9W_GK-XxFPfNZ3MRhQvIsWuCfnqC7AaBWSoAtCMbSOqSHlAs0TakTppzYfBlzNYAoM_eK06LiyIIth8KV8TXftLviwbmxUvGmzjEtDeXmxIePtMGTneU-R1s4cVXUUIW93Mgn2Lfqot-l7Ox2I9ZprRY44wOJsq5G8Sl-uIdBpO89zepn6kpkU7mSxOuY3vM0awd7VFYx6XVDAWO9GnHQfyIy4S9yTTzDeDQ0HtjfhfmzfjGRAspWRTe7C3Yfzm-_mQup8byKs');
          "
        ></div>
      </div>
    </div>
  </div>
</section>
