<form action="#" class="space-y-6" method="POST">
  <app-input-field label="Full Name" placeholder="" />
  <app-input-field label="Email Address" placeholder="" />
  <app-input-area label="Your Message" placeholder="" />
  <div>
    <button
      class="w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-sm text-sm font-bold text-background-dark bg-primary hover:bg-opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
      type="submit"
    >
      Send Message
    </button>
  </div>
</form>
